body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.page_title {
    margin: 0;
    margin-left: 150px;
    color: #FFFFFF;
}

.header_logo {
    margin-left: 30px;
    width: 100px;
    float: left;
}

a {
    text-decoration: none;
}