body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d3d3d3;
}

header {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.page_title {
    margin: 0;
    margin-left: 150px;
    color: #ffffff;
}

.header_logo {
    margin-left: 30px;
    width: 100px;
    float: left;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 50px;
    width: 100%;
    border: 1px #000000 solid;
    clear: both;
}

.info_block {
    font-size: 22px;
    margin: 0 10px;
    border: #000000 3px solid;
    height: 100px;
}

.map_block {
    font-size: 22px;
    margin: 0 10px;
    border: #000000 3px solid;
}

.map_block iframe {
    min-width: 400px;
    min-height: 400px;
    width: 40%;
    height: 35vw;
    margin: auto;
    display: block;
}

.map_block p {
    float: left;
    margin-left: 15%;
    text-align: center;
}

.copyright {
    position: relative;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: small;
    padding: 3px 0;
    margin: 0;
}

#gallery {
    margin: 0 7%;
}

#gallery div {
    color: #ffffff;
    background-color: #2f2f2f;
    margin: 1%;
    border: 1px solid #717171;
    float: left;
    width: 17%;
}

#gallery div img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1250px) {
    #gallery {
        margin: 0 6%;
    }
}

@media screen and (max-width: 950px) {
    #gallery {
        margin: 0 5%;
    }

    #gallery div {
        margin: 1%;
        width: 22.5%;
    }
}

@media screen and (max-width: 650px) {
    #gallery div {
        width: 31%;
    }
}

@media screen and (max-width: 523px) {
    #gallery div {
        width: 30%;
    }
}

@media screen and (max-width: 470px) {
    #gallery div {
        width: 47%;
    }
}

#data_name {
    text-align: center;
    padding: 0 5%;
    padding-bottom: 0;
    margin-bottom: 5px;
}

#data_price {
    margin-top: 0;
    text-align: center;
}

#gallery br {
    clear: both;
}

h2 {
    margin-bottom: 0;
}